* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.center {
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: center;
}
.flash-sale {
  width: 100%;
  position: relative;
  height: 100%;
  padding-top: 4rem;
}
.flash-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.flash-sale-section {
  max-width: 1200px;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
  padding-left: 12px;
  padding-right: 12px;
}
.product-fresh {
  width: 100%;
  position: relative;
  height: 100%;
}
.fresh-content {
  max-width: 1200px;
  margin: auto;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
  padding-left: 10px;
  padding-right: 10px;
}
.dropdown-xl3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  position: absolute;
  transition: all 0.4s;
  top: 2rem;
  overflow: hidden;
  right: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: auto;
}
.col-xl3:hover > .col-xl3-img .dropdown-xl3 {
  opacity: 1;
  transform: translateX(-1.5rem);
}
.cart-item:hover {
  background-color: #34a853;
  transition: all 0.2s;
  color: white;
}
.product-cart:hover {
  background-color: #34a853;
  transition: all 0.5s;
  color: white;
}
.product-btn:hover {
  color: white;
}
.cart-item {
  font-size: 1.1rem;
  font-weight: 200;
  color: #1d1d1d;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  padding: 5px 8px;
  border-radius: 3px;
  background-color: #d6eedd;
}
.fresh-content h3 {
  font-size: 2.2rem;
  color: #1d1d1d;
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
}
.fresh-section {
  max-width: 1200px;
  margin: auto;
  padding-top: 4rem;
  background: url(https://quomodosoft.com/html/ecoshop/assets/images/homepage-one/category-section-background.webp);
}
.fresh-section-content {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
}
.col-xl3 {
  border-radius: 3px;
  cursor: pointer;
  background-color: white;
  width: 100%;
}
.fresh-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  margin: 0rem;
  text-align: center;
  padding: 0 1rem 1rem;
}
.btn-text {
  font-size: 14px;
  font-weight: 600;
}
.ratings {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 0;
}
.product-details {
  font-size: 1.3rem;
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
}
.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  margin: 1rem 0;
}
.price-cut {
  text-decoration: line-through;
  font-size: 18px;
  font-weight: 600;
  color: gray;
}
.new-price {
  font-size: 18px;
  font-weight: 600;
  color: red;
}
.col-xl3-img {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  height: 15rem;
  position: relative;
}
.col-xl3-img:hover {
  transform: scale(1.07);
  transition: all 0.6s ease;
}
.col-xl3:hover {
  border: 1px solid #34a853;
}
.product-cart {
  width: 100%;
  background-color: #cfe2ff;
  border-radius: 3px;
}
.product-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  text-decoration: none;
  color: #34a853;
  padding: 10px 10px;
}
.fresh-container {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 5rem;
}

.view1 {
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 18px;
  position: relative;
}

.hero-service {
  width: 100%;
  background-color: #34a853;
  padding: 1.4rem;
  border-radius: 4px;
  margin-top: 2rem;
  align-items: center;
}
.center-content {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}
.sdt1 {
  height: 74px;
  width: 329.59px;
  display: flex;
  justify-content: center;
}
.category-section {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 2rem;
  padding-left: 10px;
  padding-right: 10px;
  background-position: center;
  background-size: cover;
}
.healthys-section {
  max-width: 1200px;
  margin: auto;
  padding-top: 4rem;
}
.healthys-content {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
}
.lg-4 {
  display: flex;
  border-radius: 3px;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;

  background: url(https://quomodosoft.com/html/ecoshop/assets/images/homepage-one/category-img/c-bg-img-1.webp);
}
.lg-5 {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background: url(https://quomodosoft.com/html/ecoshop/assets/images/homepage-one/category-img/c-bg-img-2.webp);
}
.lg-6 {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background: url(https://quomodosoft.com/html/ecoshop/assets/images/homepage-one/category-img/c-bg-img-3.webp);
}
.fruist {
  color: black;
  font-size: 1rem;
  display: block;
  text-transform: uppercase;
  font-family: "League Spartan", sans-serifs;
  font-weight: 500;
  margin: 0px 0px 10px;
}
.healthyl {
  font-size: 2.4rem;
  font-family: "League Spartan", sans-serifs;
  line-height: 1.2;
}
.shopnow-content {
  display: inline-block;
  margin: auto;
  font-size: 13px;
  border-radius: 5px;
  padding: 14px 25px;
  color: #1d1d1d;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  background-color: #34a853;
  text-decoration: none;
  margin: 2rem 0;
  color: white;
}
.shopnow-content1 {
  display: inline-block;
  margin: auto;
  font-size: 13px;
  border-radius: 5px;
  padding: 14px 25px;
  color: #1d1d1d;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  background-color: red;
  text-decoration: none;
  margin: 2rem 0;
  color: white;
}
.shopnow-content2 {
  display: inline-block;
  margin: auto;
  font-size: 13px;
  border-radius: 5px;
  padding: 14px 25px;
  color: #1d1d1d;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  background-color: #921dff;
  text-decoration: none;
  margin: 2rem 0;
  color: white;
}
.wrapper-two img {
  width: 310px;
  height: 190px;
}
.wrapper-one {
  padding: 2rem 0 0 1rem;
}
.wrapper-two {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.row-gy4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hero-visible {
  opacity: 1;
}
.hero-faded {
  opacity: 0;
}
.wrapper-content {
  color: #34a853;
  font-size: 2.1em;
  display: block;
  text-transform: uppercase;
  font-family: "League Spartan", sans-serifs;
  font-weight: 500;
  margin: 0px 0px 10px;
}
.wrapper {
  color: #34a853;
  font-size: 2.1rem;
  display: block;
  text-transform: uppercase;
  font-family: "League Spartan", sans-serifs;
  font-weight: 500;
  margin: 0px 0px 10px;
}
.wrapper-content3 {
  color: #34a853;
  font-size: 2.1rem;
  display: block;
  text-transform: uppercase;
  font-family: "League Spartan", sans-serifs;
  font-weight: 500;
  margin: 0px 0px 10px;
}
.wrapper1 {
  color: #1d1d1d;
  font-family: "League Spartan", sans-serifs;
  font-weight: 700;
  font-size: 66px;
  line-height: 1.3;
}
.wrapper-content1 {
  color: #1d1d1d;
  font-family: "League Spartan", sans-serifs;
  font-weight: 700;
  font-size: 66px;
  line-height: 1.3;
}
.wrapper-content2 {
  color: #1d1d1d;
  font-family: "League Spartan", sans-serifs;
  font-weight: 700;
  font-size: 66px;
  line-height: 1.3;
}
.sdt {
  width: 329.54px;
  height: 54px;
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 1rem;
}
.jubotron-mobile {
  display: none;
  background: rgba(52, 168, 83, 0.06);
  width: 100%;
  height: 54px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.jubotron-desktop {
  padding: 12px;
  width: 100%;
  background-color: #34a853;
  justify-content: center;
  display: flex;
  align-items: center;
}
.menu-desktop {
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  background-color: #34a853;
  margin: auto;
  display: flex;
  align-items: center;
}
#mobile-side-menu {
  display: none;
}
.collapse {
  transform: translateX(-100%);
}
.mobile-side-menu-content {
  overflow-y: auto;
  width: 280px;
  height: 100vh;
  background-color: white;
  border: 1px white solid;
  position: relative;
  transition: all 0.6s;
  z-index: 1;
}

.hidden {
  display: none !important;
}
@media screen and (max-width: 1200px) {
  .wrapper1 {
    font-size: 36px;
  }
  .fresh-section-content {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    display: grid;
  }
  .row-gy4 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    display: grid;
  }
  .category-section {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .healthys-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .wrapper-content1 {
    font-size: 36px;
  }
  .wrapper-content2 {
    font-size: 36px;
  }
  .slide-wrapper {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
    height: 100%;
  }
  .wrapper-content3 {
    font-size: 1.2rem;
  }
  .wrapper {
    font-size: 1.2rem;
  }
  .wrapper-content {
    font-size: 1.2rem;
  }

  .slide-wrapper1 {
    display: flex;
    flex-direction: column-reverse;
  }
  .slide-wrapper2 {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 500px) {
  .right1 img {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 786px) {
  .jubotron-desktop {
    width: 100%;
    display: none;
  }
  .lg-4 {
    background-size: cover;
  }
  .lg-5 {
    background-size: cover;
  }
  .lg-6 {
    background-size: cover;
  }
  .fresh-section-content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    display: grid;
  }
  .lg-4 {
    margin-bottom: 15px;
  }
  .lg-5 {
    margin-bottom: 15px;
  }
  .healthys-content {
    display: block;
  }
  .category-section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .row-gy4 {
    display: block;
  }
  .right img {
    width: 250px;
    height: 250px;
  }
  .right1 img {
    width: 250px;
    height: 250px;
  }
  .right2 img {
    width: 250px;
    height: 250px;
  }
  .hero-service {
    display: block;
  }

  #mobile-side-menu-overlay {
    position: absolute;
    display: block;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 0;
  }
  #mobile-side-menu {
    display: block;
    position: fixed;
    inset: 0;
    transition: transform 0.6s ease;
  }
  .sdt1 {
    display: none;
  }
  .center {
    display: none;
  }

  .jubotron-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header {
  position: relative;
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.header-content {
  width: 100%;
  height: 100%;
  position: relative;
}

.menu {
  width: 100%;
  display: flex;
  background: rgba(52, 168, 83, 0.06);
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 7.5px;
}
.menu-content {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-height: 54px;
  align-items: center;
}
.menu0 {
  width: 100%;
  height: 54px;
  width: 230px;
  display: flex;
}

.header-profile {
  width: 229.25px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 1.2rem;
}
.header-profile a {
  text-decoration: none;
  color: #1d1d1d;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.top-contact {
  width: 122.14px;
  height: 22.69px;
  display: flex;
  margin: auto;
  justify-content: center;
  font-size: 12px;
  text-decoration: none;
  align-items: center;
  gap: 0.5rem;
  color: #1d1d1d;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.driver1 {
  width: 166.45px;
  height: 21px;
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  align-items: center;
  color: #1d1d1d;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.logo {
  margin: auto;
}
.logo img {
  width: 182px;
  height: 33px;
  display: flex;
  justify-content: center;
}
.search {
  width: 800px;
  height: 85px;
  display: flex;
  justify-content: center;
}
.search1 {
  width: 516px;
  height: 44px;
  display: flex;
  justify-content: center;
  margin: auto;
  border: 1px solid rgba(52, 168, 83, 0.18);
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.divider {
  width: 1px;
  background: #eee;
  height: 15px;
  align-items: center;
  justify-content: space-between;
}
#allcat {
  flex: 1 1 0%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.item-text {
  width: 120px;
  height: 20px;
  align-items: center;
  padding-top: 5px;
}
.driver {
  width: 1px;
  background: #eee;
  height: 2.5rem;
}
.search1 button {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #797979;
  height: 18px;
  background-color: transparent;
  border: none;
}
.bam1 {
  height: 28px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bam {
  height: 100%;
  width: 100%;
  background-color: #34a853;
  text-decoration: none;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #f8f9fa;
  font-weight: 500;
  border-top-right-radius: 3px;
  font-size: 14px;
  border-bottom-right-radius: 3px;
}
.anh2 {
  width: 84px;
  height: 35px;
  background-color: #34a853;
  margin-top: 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  color: aliceblue;
  text-decoration: none;
  font-family: "Inter" sans-serif;
  padding-top: 10px;
  margin-left: 60px;
  margin-bottom: 20px;
  font-weight: 600;
}
.abc {
  height: 85px;
  width: 216px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-cart {
  position: relative;
  width: 176px;
  height: 27px;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.header-campair {
  position: relative;
  font-size: 20px;
  width: 29px;
  height: 24.19px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-campair1 {
  position: relative;
  font-size: 20px;
  width: 29px;
  height: 24.19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-campair2 {
  position: relative;
  font-size: 20px;
  width: 29px;
  height: 24.19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-campair3 {
  font-size: 20px;
  width: 29px;
  height: 24.19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bo-menu {
  width: 100%;
  height: 53px;
  display: flex;
  justify-content: center;
}
.menu1 {
  width: 270px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: unset;
  background: white;
  color: #1d1d1d;
  position: relative;
  display: inline-block;
  border-radius: 5px 5px 0px 0px;
}

.dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  border: none;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
}
.dropdown-content {
  transition: all 0.6s;
  height: 0;
  overflow: hidden;
  position: absolute !important;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.menu1:hover .dropdown-content {
  background-color: white;
}
.menu1:hover .dropdown-content {
  display: block;
  height: 400px;
}
.menu1:hover .list-text {
  background-color: white;
}

.dropdown-content:hover .setting2:hover a:hover {
  color: white;
  transition: all 0.5s;
}
.dropdown-content:hover .beetles2:hover a:hover {
  color: #eee;
  transition: all 0.5s;
}
.dropdown-content:hover .person2:hover a:hover {
  color: #eee;
  transition: all 0.5s;
}
.dropdown-content:hover .moto2:hover a:hover {
  color: #eee;
  transition: all 0.5s;
}
.dropdown-content:hover .bread3:hover a:hover {
  color: #eee;
  transition: all 0.5s;
}
.dropdown-content:hover .basketball2:hover a:hover {
  color: #eee;
  transition: all 0.5s;
}
.dropdown-content:hover .house2:hover a:hover {
  color: #eee;
  transition: all 0.5s;
}
.dropdown-content:hover .iphone2:hover a:hover {
  color: #eee;
  transition: all 0.5s;
}
.dropdown-content:hover .controller2:hover a:hover {
  color: #eee;
  transition: all 0.5s;
}
.dropdown-content:hover .archor1:hover a:hover {
  color: #eee;
  transition: all 0.5s;
}
.dropdown-content:hover .archor3:hover {
  background-color: #34a853;
  transition: all 0.5s;
  color: white;
}
.dropdown-content:hover .controller3:hover {
  background-color: #34a853;
  transition: all 0.5s;
  color: white;
}
.dropdown-content:hover .iphone3:hover {
  background-color: #34a853;
  transition: all 0.5s;
  color: white;
}
.dropdown-content:hover .house3:hover {
  background-color: #34a853;
  transition: all 0.5s;
  color: white;
}
.dropdown-content:hover .basketball3:hover {
  background-color: #34a853;
  transition: all 0.5s;
  color: white;
}
.dropdown-content:hover .bread:hover {
  background-color: #34a853;
  transition: all 0.5s;
  color: white;
}
.dropdown-content:hover .moto3:hover {
  background-color: #34a853;
  transition: all 0.5s;
  color: white;
}
.dropdown-content:hover .person3:hover {
  background-color: #34a853;
  transition: all 0.5s;
  color: white;
}
.dropdown-content:hover .beetles3:hover {
  background-color: #34a853;
  transition: all 0.5s;
  color: white;
}
.dropdown-content:hover .setting3:hover {
  background-color: #34a853;
  transition: all 0.5s;
  color: white;
}

.archor3 {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  transition: all 0.5s;
}
.archor {
  width: 230px;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
}
.archor-icon {
  width: 40px;
  height: 27px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.archor1 {
  width: 170px;
  height: 50px;
  display: flex;
  color: #1d1d1d;
  align-items: center;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  border: none;
  font-size: 14px;
}
.controller {
  width: 230px;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
}
.controller3 {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}
.controller1 {
  width: 40px;
  height: 27px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.controller2 {
  width: 170px;
  height: 50px;
  display: flex;
  color: #1d1d1d;
  align-items: center;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  border: none;
  font-size: 14px;
}
.iphone {
  width: 230px;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
}
.iphone3 {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}
.iphone1 {
  width: 40px;
  height: 27px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.iphone2 {
  width: 170px;
  height: 50px;
  display: flex;
  color: #1d1d1d;
  align-items: center;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  border: none;
  font-size: 14px;
}
.house {
  width: 230px;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
}
.house3 {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}
.house1 {
  width: 40px;
  height: 27px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.house2 {
  width: 170px;
  height: 50px;
  display: flex;
  color: #1d1d1d;
  align-items: center;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  border: none;
  font-size: 14px;
}
.basketball {
  width: 230px;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
}
.basketball3 {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}
.basketball1 {
  width: 40px;
  height: 27px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.basketball2 {
  width: 170px;
  height: 50px;
  display: flex;
  color: #1d1d1d;
  align-items: center;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  border: none;
  font-size: 14px;
}
.bread {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}
.bread1 {
  width: 230px;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
}
.bread2 {
  width: 40px;
  height: 27px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bread3 {
  width: 170px;
  height: 50px;
  display: flex;
  color: #1d1d1d;
  align-items: center;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  border: none;
  font-size: 14px;
}
.moto {
  width: 230px;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
}
.moto3 {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}
.moto1 {
  width: 40px;
  height: 27px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.moto2 {
  width: 170px;
  height: 50px;
  display: flex;
  color: #1d1d1d;
  align-items: center;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  border: none;
  font-size: 14px;
}
.person {
  width: 230px;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
}
.person3 {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}
.person1 {
  width: 40px;
  height: 27px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.person2 {
  width: 170px;
  height: 50px;
  display: flex;
  color: #1d1d1d;
  align-items: center;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  border: none;
  font-size: 14px;
}
.beetles {
  width: 230px;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
}
.beetles3 {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}
.beetles1 {
  width: 40px;
  height: 27px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.beetles2 {
  width: 170px;
  height: 50px;
  display: flex;
  color: #1d1d1d;
  align-items: center;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  border: none;
  font-size: 14px;
}
.setting {
  width: 230px;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
}
.setting3 {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}
.setting2 {
  width: 170px;
  height: 50px;
  display: flex;
  color: #1d1d1d;
  align-items: center;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  border: none;
  font-size: 14px;
}
.setting1 {
  width: 40px;
  height: 27px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.list-text {
  width: 160px;
  height: 50px;
  display: flex;
  color: #1d1d1d;
  align-items: center;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  border: none;
}
.dropdown-icon {
  width: 20px;
  height: 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menu2 {
  display: flex;
  width: 615px;
  height: 27px;
  color: aliceblue;
  font-family: "Inter", sans-serif;
  font-weight: 550;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.menu2 li {
  display: inline;
  margin: 0 15px;
}
.menu2 li a {
  color: white;
}
.shopbtn {
  position: relative;
  overflow: hidden;
}
.btn-span {
  position: relative;
  z-index: 1;
}
.shopbtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background: black;
  transition: width 0.2s linear;
  color: #f9f9f9;
}
.shopbtn:hover::after {
  width: 100%;
}
.shopbtn1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.shopbtn {
  height: 49px;
  display: flex;
  width: 159px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: #1d1d1d;
  background-color: #ffbb38;
  font-weight: 550;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  border-radius: 3px;
}

.swiper-hero {
  width: 100%;
  height: 450px;
  position: relative;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
}
.hero1 {
  width: 100%;
  height: 100%;
  display: flex;
}
.left {
  max-width: 600px;
  height: 431px;
}
.right {
  max-width: 600px;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.shopnow {
  display: inline-block;
  margin: auto;
  font-size: 15px;
  border-radius: 5px;
  padding: 17px 35px;
  color: #1d1d1d;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  background-color: #ffbb38;
  text-decoration: none;
  margin: 2rem 0;
}
.shopnow1 {
  display: inline-block;
  margin: auto;
  font-size: 15px;
  border-radius: 5px;
  padding: 17px 35px;
  color: #1d1d1d;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  background-color: #ffbb38;
  text-decoration: none;
  margin: 2rem 0;
}
.shopnow2 {
  display: inline-block;
  margin: auto;
  font-size: 15px;
  border-radius: 5px;
  padding: 17px 35px;
  color: #1d1d1d;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  background-color: #ffbb38;
  text-decoration: none;
  margin: 2rem 0;
}
.right img {
  object-fit: contain;
  width: 100%;
}
.last {
  height: 100px;
  width: 100%;
  display: flex;
  background-color: #34a853;
}
.free {
  align-items: center;
  display: flex;
}
.service {
  font-size: 13px;
  color: aliceblue;
  display: block;
  z-index: 10;
  padding-left: 10px;
  padding-top: 25px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.free1 {
  height: 70px;
  width: 220px;
  margin-top: 15px;
  display: flex;
}
.service1 {
  font-size: 13px;
  color: aliceblue;
  display: block;
  z-index: 10;
  padding-left: 10px;
  padding-top: 25px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.free2 {
  height: 70px;
  width: 220px;
  margin-top: 15px;
  display: flex;
}
.service2 {
  font-size: 13px;
  color: aliceblue;
  display: block;
  z-index: 10;
  padding-left: 10px;
  padding-top: 25px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.free3 {
  height: 70px;
  width: 220px;
  margin-top: 15px;
  display: flex;
}
.service3 {
  font-size: 13px;
  color: aliceblue;
  display: block;
  z-index: 10;
  padding-left: 10px;
  padding-top: 25px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.canvas {
  transition: all 0.6s;
  position: absolute !important;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header-top {
  width: 280px;
  height: 75px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.header-top1 {
  width: 160px;
  height: 30px;
  display: flex;
  gap: 15px;
  align-items: center;
}
.align {
  width: 30px;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.load {
  position: relative;
  font-size: 20px;
  width: 29px;
  height: 24.19px;
  display: flex;

  align-items: center;
  gap: 5px;
}
.load1 {
  position: relative;
  font-size: 20px;
  width: 29px;
  height: 24.19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-header {
  width: 280px;
  height: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.dropdown2 {
  width: 280px;
  height: 600px;
  transition: all 0.6s;
  position: absolute !important;
  right: 0;
  background-color: white;
  min-width: 160px;
  z-index: 1;
}
.defen {
  width: 36px;
  height: 16px;
}
.pop {
  position: relative;
  overflow: hidden;
}
.btn-span1 {
  position: relative;
  z-index: 1;
}
.pop::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background: black;
  transition: width 0.2s linear;
  color: #f9f9f9;
}
.pop:hover::after {
  width: 100%;
}
.hero-section {
  position: relative;
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.container {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  position: relative;
}
.spetty-hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 7.5px;
}
.spetty-content {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  height: 100%;
}
.hero-slide {
  width: 100%;
  height: 600px;
  position: relative;
  z-index: 1;
}
.slide-wrapper {
  max-width: 1200px;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  position: absolute;
  z-index: 10;
  height: 600px;
}
.slide-wrapper1 {
  max-width: 1200px;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 10;
  height: 600px;
}
.left1 {
  max-width: 600px;
  height: 431px;
}
.right1 {
  max-width: 600px;
  justify-content: center;
  align-items: center;
}
.right1 img {
  width: 100%;
  object-fit: contain;
}

.slide-wrapper2 {
  max-width: 1200px;
  display: flex;
  height: 600px;
  align-items: center;
  position: absolute;
  z-index: 0;
}
.left2 {
  max-width: 600px;
  height: 431px;
}
.right2 {
  max-width: 600px;
  justify-content: center;
  align-items: center;
}
.right2 img {
  max-width: 600px;
  object-fit: contain;
}

.spanie {
  max-width: 1200px;
  height: 600px;
  margin: auto;
  height: 15px;
  display: flex;
  gap: 6px;
  align-items: center;
  z-index: 100;
}
.nutbam {
  display: block;
  width: 22px;
  height: 7px;
  border-radius: 30px;
  cursor: pointer;
}
.transition-fading {
  transition: opacity 1s ease;
}
.hero-button-active {
  background-color: #34a853;
  border-radius: 30px;
}

.hero-button {
  background-color: gainsboro;
  border-radius: 30px;
}
.nutbam1 {
  cursor: pointer;
  display: block;
  width: 22px;
  height: 7px;
  border-radius: 30px;
}
.nutbam2 {
  cursor: pointer;
  display: block;
  width: 22px;
  height: 7px;
  border-radius: 30px;
}

.col-3-lg3 {
  flex: 0 0 auto;
  padding: 2px;
  width: 25%;
}
.service-wrapper {
  width: 287px;
  height: 42px;
  display: flex;
  gap: 0.9rem;
}
.service-content {
  color: white;
  line-height: 1.5;
  max-width: 180px;
}
.free-shipping {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: unset;
  gap: 2rem;
}
.service-icon {
  font-size: 31px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
}

.col-3-lg4 {
  display: flex;
}
.service-wrapper1 {
  width: 287px;
  height: 42px;
  display: flex;
  gap: 1.2rem;
}
.service-content1 {
  color: white;
  line-height: 1.5;
}
.free-shipping1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: unset;
  gap: 2rem;
}
.service-icon1 {
  font-size: 31px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
}
.col-3-lg5 {
  display: flex;
}
.service-wrapper2 {
  width: 287px;
  height: 42px;
  display: flex;
  gap: 1.2rem;
}
.service-content2 {
  color: white;
  line-height: 1.5;
}
.free-shipping2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: unset;
  gap: 2rem;
}
.service-icon2 {
  font-size: 31px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
}

.col-3-lg6 {
  display: flex;
}
.service-wrapper3 {
  width: 287px;
  height: 42px;
  display: flex;
  gap: 1.2rem;
}
.service-content3 {
  color: white;
  line-height: 1.5;
}
.free-shipping3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: unset;
  gap: 2rem;
}
.service-icon3 {
  font-size: 31px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
}
.hero-product {
  width: 100%;
  position: relative;
  height: 100%;
}
.product-container {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 3rem;
}
.product-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.container-content {
  max-width: 1200px;
  margin: auto;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
  padding-left: 10px;
  padding-right: 10px;
}
.container-content h3 {
  font-size: 2.2rem;
  color: #1d1d1d;
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
}
.view {
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 18px;
  position: relative;
}

.product-wrapper {
  width: 100%;
  height: 240px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.wrapper-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  border-radius: 1.2rem;
  border: 1px solid rgba(52, 168, 83, 0.06);
  transition: all 0.3s;
  background: rgba(52, 168, 83, 0.06);
  overflow: hidden;
  width: 100%;
  height: 10rem;
}
.wrapper-img:hover {
  border: 1px solid #34a853;
}
.wrapper-img1:hover {
  border: 1px solid #34a853;
}
.wrapper-img2:hover {
  border: 1px solid #34a853;
}
.wrapper-img3:hover {
  border: 1px solid #34a853;
}
.wrapper-img4:hover {
  border: 1px solid #34a853;
}
.wrapper-img5:hover {
  border: 1px solid #34a853;
}
.wrapper-img img:hover {
  transform: scale(1.2);
  transition: all 0.2s ease;
}
.wrapper-img1 img:hover {
  transform: scale(1.2);
  transition: all 0.2s ease;
}
.wrapper-img2 img:hover {
  transform: scale(1.2);
  transition: all 0.2s ease;
}
.wrapper-img3 img:hover {
  transform: scale(1.2);
  transition: all 0.2s ease;
}
.wrapper-img4 img:hover {
  transform: scale(1.2);
  transition: all 0.2s ease;
}
.wrapper-img5 img:hover {
  transform: scale(1.2);
  transition: all 0.2s ease;
}
.view::after {
  content: "";
  position: absolute;
  background-color: #1d1d1d;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.view:hover:after {
  width: 100%;
}
.info {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #797979;
}
.wrapper-img1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: 100%;
  border-radius: 1.2rem;
  border: 1px solid rgba(52, 168, 83, 0.06);
  transition: all 0.3s;
  background: rgba(52, 168, 83, 0.06);
  height: 170px;
}
.info1 {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info1 a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #797979;
}
.wrapper-img2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: 100%;
  border-radius: 1.2rem;
  border: 1px solid rgba(52, 168, 83, 0.06);
  transition: all 0.3s;
  background: rgba(52, 168, 83, 0.06);
  height: 170px;
}
.info2 {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info2 a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #797979;
}
.wrapper-img3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: 100%;
  border-radius: 1.2rem;
  border: 1px solid rgba(52, 168, 83, 0.06);
  transition: all 0.3s;
  background: rgba(52, 168, 83, 0.06);
  height: 170px;
}
.info3 {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info3 a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #797979;
}
.wrapper-img4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: 100%;
  border-radius: 1.2rem;
  border: 1px solid rgba(52, 168, 83, 0.06);
  transition: all 0.3s;
  background: rgba(52, 168, 83, 0.06);
  height: 170px;
}
.info4 {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info4 a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #797979;
}
.wrapper-img5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: 100%;
  border-radius: 1.2rem;
  border: 1px solid rgba(52, 168, 83, 0.06);
  transition: all 0.3s;
  background: rgba(52, 168, 83, 0.06);
  height: 170px;
}
.info5 {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info5 a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #797979;
}
